<div class='exchange_box col-sm-12'>
  <div class='card'>
 
    <div class='card-header text-center'>
      Simule sua conversão
    </div>
 
    <div class='card-block'>
      <script>
        function invert() {
            var moedaLocal = $("#source_currency option:selected").val();
            var moedaPretendida = $("#target_currency option:selected").val();
            $("#source_currency").val(moedaPretendida);
            $("#target_currency").val(moedaLocal);
        }
      </script>

      <%= form_tag('/convert', method: :get, id: 'exchange_form') do %>

      <div class='form-group'>
            <p class='title'>Moeda Pretendida</p>
            <%= select_tag 'target_currency', options_for_select(currency_list, 'EUR'), class: 'form-control', id: 'target_currency'%>
            <p></p>
            <button onclick="invert()" class='btn btn-primary btn-exchange col-md-12'>INVERTER MOEDA</button>
      </div>
        
        <div class='local_currency'>
          <div class='form-group'>
            <p class='title'>Moeda Local</p>
            <%= select_tag 'source_currency', options_for_select(currency_list, 'BRL'), class: 'form-control', id: 'source_currency' %>
          </div>
 
          <div class='form-group'>
            <input type='number' name='amount' id='amount' class='form-control' placeholder='Quantidade ($10)' step='any' required>
          </div>
        </div>
                    
        <div class='destination_currency'>

          <div class='form-group'>
            <input type='text' id='result' name='result' class='form-control' placeholder='Resultado' readonly>
          </div>
        </div>
        <div>
          
        </div>
      <% end %>
    </div>
  </div>
</div>