body {
    background: image-url("/imagem_fundo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
   
  .main{
    margin-top: 50px;
  }
   
   
  .title-box{
    margin-top: 20%;
   
    .title{
      color: white;
      text-shadow: 2px 0px 2px #000000;
    }
   
    .subtitle{
      color: white;
      text-shadow: 3px 0px 3px #000000;
      font-size: 30px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
   
   
  .exchange_box{
    margin: 10px auto;
    .logo-box{
      margin: 0 auto;
      padding-bottom: 10px;
    }
  }